#page2 {
  min-height: 270px;
  color: white;
  background-color: #000000;
  padding: 10%;
  font-family: Helvetica;
  text-align: center;
}

#page2text {
  max-width: 590px;
  margin: 0px auto;
  /* font-weight: bold; */
}